body {
  padding-bottom: 70px;
}

.table a {
  text-decoration: none;
}

.statement {
  min-height: 135px;
}

.btn.btn-block.listanswer {
    border: 0px;
    cursor: default;
}

#thesesbox{
	min-height: 150px;
}
.button-wrapper .btn {
  margin-bottom: 10px;
}
.pagination > .pagination-yes > a {
  background-color: #00CC66;
}
.pagination > .active.pagination-yes > a {
  background-color: #00CC66;
  border-color: #00CC66;
}
.pagination > .pagination-neutral > a {
  background-color: #ff851b;
}
.pagination > .active.pagination-neutral > a {
  background-color: #ff851b;
  border-color: #00CC66;
}
.pagination > .pagination-no > a {
  background-color: #ff4136;
}
.pagination > .active.pagination-no > a {
  background-color: #ff4136;
  border-color: #00CC66;
}

<<<<<<< HEAD
.mt-5 {
  margin-top: 5px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-50 {
  margin-top: 50px;
}
=======
.m-t-5 {
    margin-top: 5px;
}
>>>>>>> feat_9
