body {
    padding-bottom: 70px;
}

.table a {
    text-decoration: none;
}

.statement {
    min-height: 90px;
}

#thesesbox{
	min-height: 250px;
}
.button-wrapper .btn {
    margin-bottom: 10px;
}
.pagination > .pagination-yes > a {
    background-color: #00CC66;
}
.pagination > .active.pagination-yes > a {
    
    background-color: #00CC66;
    border-color: #00CC66;
}
.pagination > .pagination-neutral > a {
    background-color: #ff851b;
}
.pagination > .active.pagination-neutral > a {
    background-color: #ff851b;
    border-color: #00CC66;
}
.pagination > .pagination-no > a {
    background-color: #ff4136;
}
.pagination > .active.pagination-no > a {
    background-color: #ff4136;
    border-color: #00CC66;
}